* {
  padding: 0;
  margin: 0;
}

body {
  /* background: url("https://learnartifact.com/blog_bg_still_ref.png") no-repeat
    center center fixed;
  background-size: cover; */
  background: linear-gradient(90deg, #0b1423, #0e192b);
  color: white;
  font-family: Arial;
  width: 100vw;
  overflow: auto;
  overflow-x: hidden;
}

.main-div {
  height: 100vh;
}

.title-artifact {
  font-size: 4.2vh;
  text-decoration: none !important;
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  padding: 1vh 2vh;
  border-radius: 3vh;
  background: linear-gradient(90deg, rgb(230, 160, 70), rgb(189, 123, 39));
  font-weight: bolder;
}

.title-artifact:hover {
  color: grey;
}

.green {
  background-color: #597640;
  width: 25.5vh;
  height: 2.2vh;
  border: 2px black solid;
  padding: 0.56vh;
  border-radius: 1.2vh;
}

.red {
  background-color: #962d3b;
  width: 25.5vh;
  height: 2.2vh;
  border: 2px black solid;
  padding: 0.56vh;
  border-radius: 1.2vh;
}

.blue {
  background-color: #215e7d;
  width: 25.5vh;
  height: 2.2vh;
  border: 2px black solid;
  padding: 0.56vh;
  border-radius: 1.2vh;
}

.black {
  background-color: #302a2c;
  width: 25.5vh;
  height: 2.2vh;
  border: 2px black solid;
  padding: 0.56vh;
  border-radius: 1.2vh;
}

.black:hover,
.blue:hover,
.green:hover,
.red:hover {
  filter: brightness(120%);
}

.img-hero {
  border-radius: 50%;
  vertical-align: middle;
}

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 100vh;
}

ul {
  list-style: none;
  display: inline-block;
  flex-grow: 1;
  flex: 0 1 25%;
}

input:focus {
  outline: none;
}

li {
  display: block;
}
.span-card-name {
  color: white;
  text-decoration: none;
  margin-left: 0.8vh;
  font-size: 1.7vh !important;
  font-family: Arial;
  font-weight: bold !important;
}

li span {
  background-color: none;
}

.span-rarity {
  color: white;
}

.mini-image {
  width: 4vh;
  height: 4vh;
}

.large-image {
  width: 20vh;
  height: 40vh;
}

.signature-image {
  margin-top: 5vh;
  margin-left: 5vh;
  height: 50vh;
}

.padding-left {
  padding-left: 0.7vh;
  font-size: 1.8vh;
}

.parent {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.licards {
  /* z-index: 1; */
  /* position: relative; */
}

.liShopHover:hover {
  filter: brightness(110%);
}

.card-detail-main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.card-detail-large-image {
  display: inline-block;
  text-align: center;
  height: 80vh;
  vertical-align: top;
  position: relative;
}

.card-detail-active-description {
  position: absolute;
  z-index: 2;
  bottom: 19.5vh;
  left: 17vh;
  border: 0.2vh solid grey;
  color: grey;
  width: 26vh;
  height: 11vh;
  text-align: left;
  padding: 1vh 1.5vh;
  background-color: rgb(0, 0, 0, 0.8);
}

.card-detail-signature {
  display: inline-block;
}

.input-search {
  height: 1.5vh;
  background: none;
  color: white;
  border: 2px solid white;
  padding: 1.2vh 1.2vh;
  border-radius: 1.9vh;
  font-size: 1.6vh;
}

.sort-title {
  font-size: 1.8vh;
}

.card-type-wrapper {
  margin-bottom: 1vh;
  margin-top: 1vh;
  width: 26.5vh;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
}

.card-type-img {
  width: 2.5vh;
  height: 3vh;
  margin-right: 0.5vw;
  justify-content: center;
}

.card-type-title {
  font-size: 1.8vh;
  font-weight: bold;
}

.card-type-count {
  /* position: absolute; */
  /* bottom: 0; */
  /* right: 0; */
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
  font-size: 1.9vh;
  margin-top: 10px;
}

footer {
  text-align: center;
  /* height: 10vh; */
  padding: 5vh;
  background-color: #171b21;
  margin-top: 10vh;
}

.hover-test {
  position: absolute;
  right: -20.5vw;
  top: 0px;
  min-width: 20vw;
  z-index: 9999;
}

.hover-spinner-wrapper {
  display: inline-block;
  width: 12vh;
  height: 28vh;
  border: 1px solid grey;
  border-radius: 5px;
  z-index: 4000;
  padding-left: 6.5vh;
}

.hover-img-main {
  display: inline-block;
  width: 22vh;
  z-index: 1000;
}

.hover-img-signature {
  display: inline-block;
  width: 19vh;
}

.nav-main {
  width: 80%;
  margin: 3vh auto;
  color: white;
  text-decoration: none;
}
